body {
    background-color: grey;
}
h1 {
  color:blueviolet  
}
p {

}
.text {
   font-size: 18ps; 
}
.text--color1 {
  color:green;  
}
.text--color2 {
    color:mediumblue;
}
.text--color3 {
    color:black;
    text-decoration: underline;
}
.text--color4 {
    color:green;
}
.text--color5 {
    color:blue;
}
.text--color6 {
    color:black;
    text-decoration: underline;
}
h2 {
   text-align: center; 
   text-decoration: none;

}
h1 {
    text-align: center;
    text-transform: uppercase;   
}

